$ContentHeight: 50px;
$ContentMgl: 200px;
$ContentBgColor: #f0f6fa;
$Interval: 20px;

.Content {
  padding-top: $ContentHeight + $Interval;
  padding-left: $Interval;
  margin-left: $ContentMgl;
  background: $ContentBgColor;
  position: relative;
  transition: .2s ease-in;
  box-sizing: border-box;
  min-height: 100vh;
}